/* src/App.css */

.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
}

.App-header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-builder {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

form input[type="text"]:focus {
  border-color: #007bff;
}

form button, form select {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

.module {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e9f5ff;
  border: 1px solid #b3d4fc;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 1.4em;
}

.module input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.module input[type="text"]:focus {
  border-color: #007bff;
}

.module h2 svg {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.module h2 svg:hover {
  color: #007bff;
}

.resource {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.resource:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resource input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.resource input[type="text"]:focus {
  border-color: #007bff;
}

.resource div {
  display: flex;
  align-items: center;
}

.resource div svg {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.resource div svg:hover {
  color: #007bff;
}
